<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>光大信托财富大讲堂 - 内容管理系统</title>
  <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/global.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
</head>
<body>
<div class="wxUser-content">
</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
  layui.use(['form', 'jquery'], function(){
    let form = layui.form;
    let $ = layui.jquery;
  });
</script>
</body>
</html>