<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>光大信托财富大讲堂 - 内容管理系统</title>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/global.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/homepage.css}" type="text/css">
  </head>
  <body>
    <div class="layout-content">
      <div class="content-header">
        <div class="header-nav">
          <button type="button" class="layui-btn" id="logout">登出</button>
        </div>
      </div>
      <div class="content-side side-menu">
        <div class="side-scroll">
          <div class="sid-logo">
            <span>光大信托财富大讲堂</span>
          </div>
          <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="sideMenu">
            <li class="layui-nav-item layui-nav-itemed">
              <a href="javascript:;">页面内容管理</a>
              <dl class="layui-nav-child">
                <dd><a href="/cms/homepage" data-id="carousel">轮播图</a></dd>
              </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
              <a href="javascript:;">设置</a>
              <dl class="layui-nav-child">
                <dd><a href="/cms/set_phone" data-id="carousel">修改手机号</a></dd>
                <dd><a href="/cms/set_password" data-id="carousel">修改密码</a></dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>
      <div class="content-body">
        <div class="layui-upload">
          <button type="button" class="layui-btn" id="uploadImage">上传图片</button>
          <div class="layui-upload-list">
            <p id="demoText"></p>
          </div>
          <div id="layer-photos">
            <table class="layui-hide" id="dataTable" lay-filter="dataTool"></table>
          </div>
        </div>
        <div>
          <footer class="global-footer">
            <p>©2020 光大信托财富大讲堂</p>
            <p>光大兴陇信托</p>
          </footer>
        </div>


        <div class="site-text" style="margin: 5%; display: none" id="window"  target="test123">
          <form class="layui-form" id="book" method="post" lay-filter="example">
            <div class="layui-form-item">
              <label class="layui-form-label">图片顺序</label>
              <div class="layui-input-block">
                <input type="text" id="orders" name="orders" lay-verify="title" autocomplete="off" placeholder="请输入显示序号" class="layui-input" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script th:src="@{/layui/layui.js}"></script>

    <script type="text/html" id="carouselOpc">
      <input type="checkbox" name="isCarousel" value="{{d.id}}" title="首页轮播" lay-filter="isCarousel" {{ d.isCarousel == 1 ? 'checked' : '' }} >
    </script>
    <script type="text/html" id="barOpc">
      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
      <a class="layui-btn layui-btn-xs" lay-event="editOrder">编辑显示顺序</a>
    </script>
    <script type="text/html" id="viewImage">
      <img class="carousel-image" layer-pid="{{d.id}}" layer-src="{{d.src}}" src="{{d.src}}" alt="{{d.src}}"/>
    </script>
    <script>
      layui.use(['upload', 'table'], function(){
        const $ = layui.jquery;
        const upload = layui.upload;
        const table = layui.table;
        const form = layui.form;
        //上传图片
        upload.render({
          elem: '#uploadImage',
          url: '/cms/fileUpload', //改成您自己的上传接口
          accept: 'images',
          size: 50000,
          before: function(obj) {
            obj.preview(function (index, file, result) {
              $("#demo1").attr("src", result);
            })
          },
          done: function(res){
            console.log(res)
            if(res.code != 200) {
              layer.msg('上传失败，请重新上传');
            }
            layer.msg('上传成功');
            table.reload('dataTable')
          },
          error: function(){
            layer.msg('上传失败，请重新上传');
          }
        });

        table.render({
          elem: '#dataTable',
          url:'/cms/images',
          cellMinWidth: 80,
          cols: [
              [
                {type:'numbers'},
                {field:'src', title:'预览图', templet: "#viewImage"},
                {field:'orders', title:'轮播图次序', width:136, unresize: true},
                {field:'isCarousel', title:'轮播图', width:136, templet: '#carouselOpc', unresize: true},
                {field:'opc', title:'操作', width: 240, toolbar: '#barOpc', unresize: true}
            ]
          ],
          page: true,
          limit:10,
          limits: [3,5,10],
          id: 'dataTable'
        });
        //监听轮播图操作
        form.on('checkbox(isCarousel)', function(obj){
          const isCarousel = obj.elem.checked ? 1 : 0;
          $.ajax({
            type: 'PATCH',
            url: '/cms/image',
            data: { id: this.value, isCarousel},
            dataType: 'json',
            success: function (data) {
              if(data.code == 200) {
                layer.msg("设置成功");
              } else {
                alert("设置失败，原因是：" + data.msg);
              }
            }
          })
        });

        //监听工具条
        table.on('tool(dataTool)', function(obj){
          var data = obj.data;
          const imageId = data.id
          if(obj.event === 'detail'){
            layer.msg('ID：'+ data.id + ' 的查看操作');
          } else if(obj.event === 'del'){
            layer.confirm('真的删除行么', function(index){
              $.ajax({
                type: 'DELETE',
                url: '/cms/image',
                data: {id: data.id},
                dataType: 'json',
                success: function (data) {
                  if(data.code == 200) {
                    obj.del();
                    layer.close(index);
                    layer.msg(data.msg);
                  } else {
                    layer.msg("删除失败，原因是：" + data.msg);
                  }
                }
              })
            });
          } else if(obj.event === 'editOrder') {
            layer.open({
              type: 1 //Page层类型
              , skin: 'layui-layer-molv'
              , area: ['380px', '200px']
              , title: ['编辑轮播图次序', 'font-size:14px']
              , btn: ['确定', '取消']
              , shadeClose: true
              , shade: 0
              , id: 'layer_form' //设定一个id，防止重复弹出
              , btnAlign: 'c'
              , moveType: 1 //拖拽模式，0或者1
              , maxmin: false //允许全屏最小化
              , content: $("#window")  //弹窗路径
              , btn: ['保存', '取消']
              , success: function (layero, index) {
                $('#orders').val(data.orders);
              }
              ,yes:function(index,layero) {
                const orders = $('#orders').val()
                $.ajax({
                  type: 'PATCH',
                  url: '/cms/image/orders',
                  data: { id: imageId, orders },
                  dataType: 'json',
                  success: function (data) {
                    if(data.code == 200) {
                      layer.msg("修改成功");
                      table.reload('dataTable',{//重载表格
                        page:{
                          curr:1
                        }
                      })
                      layer.close(index);
                    } else {
                      alert("设置失败，原因是：" + data.msg);
                    }
                  }

                })
              }
            })
          }
        });

        $("#logout").click(function() {
          $.ajax({
            type: 'POST',
            url: '/cms/logout',
            dataType: 'json',
            success: function (data) {
              if(data.code == 200) {
                localStorage.removeItem("phone");
                localStorage.removeItem("username");
                location.href = "/cms/login";
              } else {
                alert("退出失败，原因是：" + data.msg);
              }
            }
          })
        });
      });
    </script>
  </body>
</html>