<div class="side-scroll">
  <div class="sid-logo">
    <span>光大信托直播课程</span>
  </div>
  <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="sideMenu">
    <li class="layui-nav-item layui-nav-itemed">
      <a href="javascript:;">页面内容管理</a>
      <dl class="layui-nav-child">
        <dd><a href="/cms/homepage" data-id="carousel">轮播图</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
      <a href="javascript:;">设置</a>
      <dl class="layui-nav-child">
        <dd><a href="/cms/set_phone" data-id="carousel">修改手机号</a></dd>
        <dd><a href="/cms/set_password" data-id="carousel">修改密码</a></dd>
      </dl>
    </li>
  </ul>
</div>